In [10]:
%pip install pandas

Requirement already satisfied: pandas in c:\python310\lib\site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\python310\lib\site-packages (from pandas) (1.22.1)
Requirement already satisfied: pytz>=2017.3 in c:\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd

In [12]:
PATH_COVID_DATA = 'data/Bing-COVID19-Data.csv'

In [13]:
covid_data = pd.read_csv(PATH_COVID_DATA)

C:\Python310\lib\site-packages\IPython\core\interactiveshell.py:3251: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
covid_data_br = covid_data[covid_data['Country_Region'] == 'Brazil']
covid_data_br = covid_data_br[covid_data_br['AdminRegion1'] == 'Alagoas']

In [15]:
covid_data_br

,ID,Updated,Confirmed,ConfirmedChange,Deaths,DeathsChange,Recovered,RecoveredChange,Latitude,Longitude,ISO2,ISO3,Country_Region,AdminRegion1,AdminRegion2
51992,4381684,04/08/2020,32,NaN,2.0,NaN,NaN,NaN,-9.51338,-36.62535,BR,BRA,Brazil,Alagoas,NaN
51993,5269854,04/14/2020,50,3.0,3.0,1.0,NaN,NaN,-9.51338,-36.62535,BR,BRA,Brazil,Alagoas,NaN
51994,5310826,04/15/2020,72,22.0,4.0,1.0,NaN,NaN,-9.51338,-36.62535,BR,BRA,Brazil,Alagoas,NaN
51995,5419791,04/16/2020,89,17.0,5.0,1.0,NaN,NaN,-9.51338,-36.62535,BR,BRA,Brazil,Alagoas,NaN
51996,5437402,04/17/2020,110,21.0,7.0,2.0,NaN,NaN,-9.51338,-36.62535,BR,BRA,Brazil,Alagoas,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52585,174017393,01/06/2022,242165,0.0,6383.0,0.0,0.0,0.0,-9.51338,-36.62535,BR,BRA,Brazil,Alagoas,NaN
52586,174130010,01/07/2022,242165,0.0,6383.0,0.0,0.0,0.0,-9.51338,-36.62535,BR,BRA,Brazil,Alagoas,NaN
52587,174248920,01/08/2022,242165,0.0,6383.0,0.0,0.0,0.0,-9.51338,-36.62535,BR,BRA,Brazil,Alagoas,NaN
52588,174353796,01/09/2022,242165,0.0,6383.0,0.0,0.0,0.0,-9.51338,-36.62535,BR,BRA,Brazil,Alagoas,NaN
52589,174468009,01/10/2022,242165,0.0,6383.0,0.0,0.0,0.0,-9.51338,-36.62535,BR,BRA,Brazil,Alagoas,NaN

In [16]:
DELETE_COLS = ['ID', 'Latitude', 'Longitude', 'ISO2', 'ISO3', 'Country_Region', 'AdminRegion1', 'AdminRegion2', 'Recovered', 'RecoveredChange']

In [17]:
for i in DELETE_COLS:
    del covid_data_br[i]

In [18]:
covid_data_br['Updated'] = pd.to_datetime(covid_data_br['Updated'])

In [19]:
covid_data_br["Updated"].isna().any()

False

In [20]:
covid_data_br["Confirmed"].isna().any()

False

In [21]:
covid_data_br["ConfirmedChange"].isna().any()

True

In [22]:
cc = covid_data_br[covid_data_br['ConfirmedChange'].isna()]

In [23]:
cc

         Updated  Confirmed  ConfirmedChange  Deaths  DeathsChange
51992 2020-04-08         32              NaN     2.0           NaN

In [24]:
covid_data_br["Updated"].min()

Timestamp('2020-04-08 00:00:00')

In [25]:
covid_data_br["Updated"].max()

Timestamp('2022-01-10 00:00:00')

In [26]:
cc['Updated'].min()

Timestamp('2020-04-08 00:00:00')

In [27]:
(cc['Updated'] != '2020-04-08').any()

False

In [28]:
covid_data_br["Deaths"].isna().any()

False

In [29]:
covid_data_br["DeathsChange"].isna().any()

True

In [30]:
cd = covid_data_br[covid_data_br['DeathsChange'].isna()]

In [31]:
cd

         Updated  Confirmed  ConfirmedChange  Deaths  DeathsChange
51992 2020-04-08         32              NaN     2.0           NaN

In [32]:
covid_data_br.to_csv('resulta_covid19_data_alagoas.csv', index=False)